body {
    background: black;
  }

#Welcome-background {
  background: black;
  text-align: center;
  display: block;
}

#App-logo {
  margin: 5% auto 3% auto;
  display: block;
}

#Headline-top {
  color: white;
  margin-bottom: 2%;
  text-align: center;
}

#Headline-bottom {
  color: white;
  font-size: 15px;
  margin-bottom: 0%;
  margin-top: .8%;
  text-align: center;
}